---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Mike Innes">
    <!-- <link rel="icon" href="{{site.url}}/favicon.ico"> -->

    <title>{{page.title}} – one more minute</title>

    <link href='{{site.url}}/styles/site.css' rel='stylesheet' type='text/css'>
    <link href='{{site.url}}/styles/syntax.css' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:900' rel='stylesheet' type='text/css'>
  </head>
  <body>
    {{ content }}
    <div class="overscroll"></div>
  </body>
</html>
